fastapi
uvicorn[standard]
pydantic
transformers
torch
sentencepiece
safetensors
numpy
scikit-learnmatplotlib
librosa
soundfile
python-multipart
jiwer
mediapipe==0.10.14
opencv-python
huggingface_hub
datasets
kagglehub
